.new-item {

}

.new-item--input {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  line-height: 1.4em;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
