.footer {
    margin:0;
    padding: 16px;
    display: flex;
    align-items: center;
}
.footer .footer--item {
    flex-grow: 1;
}

.footer--logout,
.footer--clear-completed {
    float: right;
}


